@use "variables" as *;

@mixin articulo($bg: $color-articulo, $width: 30%) {
  width: $width;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 4px 15px $color-shadow;
  background: $bg;
  border-radius: 20px;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
}