//variables y mixins 
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

// Animacion para titulos 
h1 {
  animation: fade-in-up 1s ease-out both;
} 
h2 {
  animation: fade-in-up 1s ease-out both;
}
// Albumes
.album {
  @include articulo();

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
  }
}

// Artistas 
.artista {
  @include articulo();

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
  }
}

// Comentarios
.comentarios {
  text-align: center;
  padding: 40px 20px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: $color-text;

  textarea {
    width: 80%;
    height: 100px;
    padding: 15px;
    border: 2px solid $color-text;
    border-radius: 20px;
  }

  button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: $color-button;
    color: $color-text;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

// Comentarios usuarios
.comentarios-usuarios {
  @include articulo(#fafafa);
}

// Info album
.info-album {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: center;
  background: $color-articulo;
  border-radius: 20px;

  img {
    width: 30%;
    border-radius: 20px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
    display: block;

    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}